.content-grid {
  max-width: 1200px;
}

.title {
font-family: 'Old Standard TT', serif;
  font-size: 8em;
  /* font-style: italic; */
}

.sub-title {
  font-family: 'Old Standard TT', serif;
  text-decoration: underline;
}

.sub-sub-title {
  font-family:"et-book";
  font-style: italic;
  font-size: 2em;
}

.centered-text {
  text-align:center;
}

.centered-element {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.content {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}

.mdl-card__title-text {
    background: white;
}

.mdl-card__supporting-text {
  height: 50px;
}

.carnation {
  color: #000 !important;
  font-size: 2em;
  background:
    url('images/projects/carnation_img.jpg') top right 100% no-repeat #fff;
  background-size: 400px;
}

.cityCoverage {
  color: #000 !important;
  font-size: 2em;
  background:
    url('images/projects/city_coverage_img.gif') top -2px right 100% no-repeat #46B6AC;
  background-size: 320px;
}

.rentCalculator {
  color: #000 !important;
  font-size: 2em;
  background:
    url('images/projects/rentCalculator.png') bottom 15% right 90% no-repeat #46B6AC;
  background-size: 700px;
}

.mdi-large {
  font-size: 32px !important;
}

/* If we need to style the color of the social button */
.mdi-twitter {
}

.mdi-facebook {
}

.mdi-linkedin {
}

.mdi-github-box {
}

.social-box {
  text-align: center;
}

.circle-avatar {
    width:128px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.61);
    -moz-box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.61);
    box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.61);
}

/* Gradient transparent - color - transparent */ 
hr {
  border-top: 0px solid #ccc;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); 
}
